<ons-page id="ONSApropos">
  <div id="container">
    <ons-row>
      <ons-col>
        <h2 class="translate">aboutMvplan</h2>
        &nbsp;
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col>
        <div id='feedAproposVersion'></div>
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col>
        <div id='feedAproposCustom'></div>
      </ons-col>
    </ons-row>


    <ons-row>
      <ons-col>
        <hr />
        <p class="translate">Pour plus de détails, consultez le site internet <a href="https://mvplan.org">https://mvplan.org</a> ou
          <a onclick="gotoPage('changelog-fr.html');">l'historique des modifications de l'application</a>
        </p>
      </ons-col>
    </ons-row>


    <div id="feedMvplanInfos"></div>

    <div id="feedMvplanAccount"></div>

  </div>
  <script language="javascript">
    ons.ready(function () {
      feedMvplanInfos();
      feedAproposVersion();
      feedAproposCustom();
    });
  </script>

</ons-page>