<ons-page id="changelog">
    <ons-toolbar modifier="material">
        <div id="titreNav" class="center">
            <span style="font-family: Penna,sans-serif;font-size: 200%;"> Mvplan </span>
            <!-- <span style="font-weight:normal;">Nouveautés</span> -->
        </div>
    </ons-toolbar>
    <div id=" container">
        <div style="padding: 10px;">
            <h2>Version 2 beta 1</h2>

            <p>Début de re-dev complet de mvplan avec des techno modernes et multiplateformes ...</p>

            <p>
                <ons-button onclick="hideChangelog('changelog')">Fermer</ons-button>
            </p>
        </div>
    </div>
</ons-page>
