<ons-page id="ONSConfig">
    <div id="container">
        <form action="" method="post" id="leformConfig" name="leformConfig">
            <ons-row>
                <ons-col>
                    <label for="exitOnBailOut" class="translate">exitOnBailOut</label>
                    <i class="translate small">exitOnBailOutDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-checkbox input-id="exitOnBailOut" value="1"></ons-checkbox>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <label class="translate">gfMenu</label>
            <ons-row>
                <ons-col>
                    <label for="gfLow" class="translate">gfLow</label>
                    <i class="translate small">gfLowDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="gfLow" id="gfLow" type="text" placeholder="30"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="gfHigh" class="translate">gfHigh</label>
                    <i class="translate small">gfHighDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="gfHigh" id="gfHigh" type="text" placeholder="70"></ons-input>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <label class="translate">rvmMenu</label>
            <ons-row>
                <ons-col>
                    <label for="rvmDive" class="translate">rvmDive</label>
                    <i class="translate small">rvmDiveDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="rvmDive" id="rvmDive" type="text" placeholder="30"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="rvmDeco" class="translate">rvmDeco</label>
                    <i class="translate small">rvmDecoDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="rvmDeco" id="rvmDeco" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="rvmBOStart" class="translate">rvmBOStart</label>
                    <i class="translate small">rvmBOStartDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="rvmBOStart" id="rvmBOStart" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="rvmBODeco" class="translate">rvmBODeco</label>
                    <i class="translate small">rvmBODecoDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="rvmBODeco" id="rvmBODeco" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="rvmBONormalDepth" class="translate">rvmBONormalDepth</label>
                    <i class="translate small">rvmBONormalDepthDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="rvmBONormalDepth" id="rvmBONormalDepth" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <label class="translate">diversMenu</label>
            <ons-row>
                <ons-col>
                    <label for="speedDescent" class="translate">speedDescent</label>
                    <i class="translate small">speedDescentDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="speedDescent" id="speedDescent" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="speedAscent" class="translate">speedAscent</label>
                    <i class="translate small">speedAscentDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="speedAscent" id="speedAscent" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>
            <ons-row>
                <ons-col>
                    <label for="lastStopDepth" class="translate">lastStopDepth</label>
                    <i class="translate small">lastStopDepthDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="lastStopDepth" id="lastStopDepth" type="text" placeholder="20"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="multiLevel" class="translate">multiLevel</label>
                    <i class="translate small">multiLevelDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-checkbox input-id="multiLevel" value="1"></ons-checkbox>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="metricMode" class="translate">metricMode</label>
                    <i class="translate small">metricModeDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-checkbox input-id="metricMode" value="1" checked></ons-checkbox>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-button class="addCancelBtn"modifier="material" onclick="closePage();"><span class="translate">back</span></ons-button>
                    &nbsp;
                    <ons-button class="addCancelBtn"modifier="material" onclick="checkFormConfig('leformConfig');"><span class="translate">save</span></ons-button>
                </ons-col>
            </ons-row>
        </form>
    </div>

    <script type="text/javascript">
        var listKeys = ['exitOnBailOut', 'gfLow', 'gfHigh', 'rvmDive', 'rvmDeco', 'rvmBOStart', 'rvmBODeco', 'rvmBONormalDepth', 'speedDescent', 'speedAscent', 'lastStopDepth', 'multiLevel', 'metricMode'];
        var listCheckKeys = ['exitOnBailOut', 'multiLevel', 'metricMode'];

        ons.ready(function () {
            for (let i = 0; i < listKeys.length; i++) {
                let key = listKeys[i];
                let keyVal = localGetData(key);
                //TODO if in listCheckKeys array -> set checked
                $('#'+key).val(keyVal);
            }
        });

        function checkFormConfig(leform) {
            for (let i = 0; i < listKeys.length; i++) {
                let key = listKeys[i];
                myDebug("updateConfig " + key);
                //TODO if in listCheckKeys array -> get checked value
                let keyVal = $('#'+key).val();
                if ((typeof keyVal != 'undefined') && (keyVal !== null) && (keyVal != "")) {
                    myDebug("Save config key="+key+", val="+keyVal);
                    localStoreData(key, keyVal);
                } else {
                    myDebug("Save config key="+key+", val is empty or undef");
                }
            }
            // if (genericCheckForm(leform)) {
            //     if ($("#leformConfig").valid()) {
            //         myDebug("leformConfig on passe dans le validate");
            //         saveConfig('', $('').value);
            //         ).then(
            //             ons.notification.alert("configSaved", { title: "Information" }).then(
            //                 function () {
            //                     closePage();
            //                 }
            //             )
            //         );

            //     }
            // }
        }

    </script>
</ons-page>