<ons-page id="ONSDiveAdd">
    <div id="container">
        <form action="" method="post" id="leformAddDive" name="leformAddDive">


            <div id="interobjetsDoubleWithLine"></div>
            <ons-row>
                <ons-col>
                    <label for="diveName" class="translate">diveName</label>
                    <ons-input name="diveName" id="diveName" type="text" placeholder="" required></ons-input>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <ons-row>
                <ons-col>
                    <label class="translate">diveSegments</label>
                    <i class="translate small">diveSegmentAddDetails</i>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <ons-row>
                <ons-col>
                    <div class="feedDiveSegments" id='feedDiveSegments'></div>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <ons-row>
                <ons-col>
                    <ons-fab modifier="mini" style="float:right;" onclick="callAddDiveSegmentForm();">
                        <ons-icon icon="md-plus"></ons-icon>
                    </ons-fab>
                </ons-col>
            </ons-row>

            <input type="hidden" name="diveUUID" id="diveUUID" value="">

            <div id="interobjetsDoubleWithLine"></div>
            <ons-row>
                <ons-col>
                    <ons-button class="addCancelBtn" modifier="material" onclick="closePage();"><span class="translate">back</span></ons-button>
                    &nbsp;
                    <ons-button class="addCancelBtn" modifier="material" onclick="checkFormDive('leformAddDive');"><span class="translate">diveAdd</span></ons-button>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <ons-button modifier="material large" onclick="computeDivePlan();"><span class="translate">computeDivePlan</span></ons-button>
                </ons-col>
            </ons-row>

        </form>
    </div>

    <script type="text/javascript">
        ons.ready(function () {
            if (globalDiveEd !== null && typeof globalDiveEd.id != 'undefined') {
                $('#diveName').val(globalDiveEd.label);
                $('#diveUUID').val(globalDiveEd.id);
                feedDiveSegments("#feedDiveSegments", "dive-" + globalDiveEd.id);
            }
        });

        function callAddDiveSegmentForm() {
            let label = escapeHtml($('#diveName').val());

            if (label == '') {
                ons.notification.toast('Veuillez donner un nom à votre plongée !', {
                    timeout: 2000
                });
                return;
            }

            let duuid = $('#diveUUID').val();
            myDebug("callAddDiveSegmentForm duuid=" + duuid + ', label=' + label);
            if (duuid == '' || typeof duuid == 'undefined') {
                duuid = Math.abs(label.hashCode());
                $('#diveUUID').val(duuid);
                myDebug("callAddDiveSegmentForm new duuid=" + duuid);
            }
            globalDiveEd = { "id": duuid, "name": label };
            globalGasEd = null;
            gotoPage('config-addDiveSegment.html');
        }

        function checkFormDive(leform) {
            if (genericCheckForm(leform)) {
                if ($("#leformAddDive").valid()) {
                    myDebug("addDive on passe dans le validate");
                    let name = escapeHtml($('#diveName').val());
                    let uuid = $('#diveUUID').val();
                    addDive("dives", name, uuid).then(
                        ons.notification.alert("Dive added.", { title: "Information" }).then(
                            function () {
                                closePage();
                                feedDivesConfig("#feedDives", "dives");
                            }
                        )
                    );

                }
            }
        }

        function computeDivePlan() {
            ons.notification.toast("Pas encore fait ... sponsoring €€€ bienvenu !", {
                timeout: 2000
            });
        }


    </script>
</ons-page>