<ons-page id="ONSDiveAddSegment">
    <div id="container">
        <form action="" method="post" id="leformAddDiveSegment" name="leformAddDiveSegment">
            <ons-row>
                <ons-col>
                    <h2 class="translate">newDiveSegment</h2>
                </ons-col>
            </ons-row>

            <div id="interobjetsDoubleWithLine"></div>
            <ons-row>
                <ons-col>
                    <label for="diveSegmentDepth" class="translate">diveSegmentDepth</label>
                    <i class="translate small">diveSegmentDepthDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="diveSegmentDepth" id="diveSegmentDepth" type="number" inputmode="decimal" min="0"></ons-input>
                </ons-col>
            </ons-row>

            <ons-row>
                <ons-col>
                    <label for="diveSegmentTime" class="translate">diveSegmentTime</label>
                    <i class="translate small">diveSegmentTimeDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="diveSegmentTime" id="diveSegmentTime" type="number" inputmode="decimal" min="1"></ons-input>
                </ons-col>
            </ons-row>

            <!-- <div id="interobjetsDoubleWithLine"></div> -->
            <ons-row>
                <ons-col>
                    <label for="diveSegmentSP" class="translate">diveSegmentSP</label>
                    <i class="translate small">diveSegmentSPDetails</i>
                </ons-col>
                <ons-col width="4em">
                    <ons-input class="tinyInputRight" name="diveSegmentSP" id="diveSegmentSP" type="number" inputmode="decimal" min="0"></ons-input>
                </ons-col>
            </ons-row>

            <!-- <div id="interobjetsDoubleWithLine"></div> -->
            <ons-row>
                <ons-col>
                    <ons-list style="clear: both;">
                        <ons-list-item id="diveSegmentListeGas" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#labelGasSelect">
                            <span class="translate">diveSegmentGas</span>
                        </ons-list-item>
                    </ons-list>
                </ons-col>
                <ons-col>
                    <span id="diveSegmentSelectedGas" class="selectedValue"></span>
                </ons-col>
            </ons-row>

            <input type="hidden" name="segmentUUID" id="segmentUUID" value="">
            <input type="hidden" name="segmentNumber" id="segmentNumber" value="">

            <!-- <div id="interobjetsDoubleWithLine"></div> -->
            <ons-row>
                <ons-col>
                    <ons-button class="addCancelBtn" modifier="material" onclick="closePage();"><span class="translate">back</span></ons-button>
                    &nbsp;
                    <ons-button class="addCancelBtn" modifier="material" onclick="checkFormDiveSegment('leformAddDiveSegment');"><span class="translate">diveAddSegment</span></ons-button>
                </ons-col>
            </ons-row>

        </form>
    </div>

    <script type="text/javascript">
        ons.ready(function () {
            $("#diveSegmentListeGas").append(feedGas("#diveSegmentListeGas", "#diveSegmentSelectedGas", "gas"));
            if (globalDiveSegmentEd !== null) {
                $('#segmentUUID').val(globalDiveSegmentEd.id);
                $('#segmentNumber').val(globalDiveSegmentEd.number);
            }
        });

        function checkFormDiveSegment(leform) {
            if (globalGasEd === null) {
                ons.notification.toast("N'oubliez pas le gaz !-)", {
                    timeout: 2000
                });
            } else {
                if (genericCheckForm(leform)) {
                    if ($("#leformAddDiveSegment").valid()) {
                        myDebug("leformAddDiveSegment on passe dans le validate");
                        let depth = $('#diveSegmentDepth').val();
                        let timelength = $('#diveSegmentTime').val();
                        let setpoint = $('#diveSegmentSP').val();
                        let segmentUUID = $('#segmentUUID').val();
                        let gas = globalGasEd;
                        let number = $('#segmentNumber').val();
                        if (number == '') {
                            let storageKey = 'dive-' + globalDiveEd.id;
                            let v = localGetData(storageKey);
                            let DiveSegmentList = null;
                            if (null !== v && v != "") {
                                DiveSegmentList = JSON.parse(v);
                            }
                            if (DiveSegmentList === null) {
                                number = 0;
                            } else {
                                number = DiveSegmentList.length;
                            }
                        }

                        addDiveSegment(globalDiveEd, depth, timelength, setpoint, gas.oxy, gas.he, gas.ppo2, segmentUUID).then(
                            ons.notification.alert(trans("SegmentSaved"), { title: "Information" }).then(
                                function () {
                                    closePage();
                                    feedDiveSegments("#feedDiveSegments", "dive-" + globalDiveEd.id);
                                }
                            )
                        );

                        // addDive("Dive", name, vol, pres, gasuuid, uuid).then(
                        //     ons.notification.alert("Dive added.", { title: "Information" }).then(
                        //         function () {
                        //             closePage();
                        //         }
                        //     )
                        // );

                    }
                }
            }
        }


    </script>
</ons-page>