<ons-page id="ONSTanksAdd">
  <div id="container">
    <form action="" method="post" id="leformAddTank" name="leformAddTank">
      <ons-row>
        <ons-col>
          <label for="tankName" class="translate">tankName</label>
          <ons-input name="tankName" id="tankName" type="text" placeholder="" required></ons-input>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <label for="tankVol" class="translate">tanktankVol</label>
          <ons-input name="tankVol" id="tankVol" type="text" placeholder=""></ons-input>
        </ons-col>
        <ons-col>
          <label for="tankPres" class="translate">tanktankPres</label>
          <ons-input name="tankPres" id="tankPres" type="text" placeholder=""></ons-input>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <ons-list style="clear: both;">
            <ons-list-item id="listeGas" expandable data-role="listview" data-filter="true" data-filter-reveal="true" data-input="#labelGasSelect">
              <span class="translate">gas</span>
            </ons-list-item>
          </ons-list>
        </ons-col>
        <ons-col>
          <span id="selectedGas" class="selectedValue"></span>
        </ons-col>
      </ons-row>

      <input type="hidden" name="tankUUID" id="tankUUID" value="">

      <ons-row>
        <ons-col>
          <ons-button class="addCancelBtn"modifier="material" onclick="closePage();"><span class="translate">back</span></ons-button>
          &nbsp;
          <ons-button class="addCancelBtn"modifier="material" onclick="checkFormTank('leformAddTank');"><span class="translate">tankAdd</span></ons-button>
        </ons-col>
      </ons-row>
    </form>
  </div>

  <script type="text/javascript">
    $("#listeGas").append(feedGas("#listeGas","#selectedGas", "gas"));

    function checkFormTank(leform) {
      if (genericCheckForm(leform)) {
        if ($("#leformAddTank").valid()) {
          myDebug("addTank on passe dans le validate");
          let name = $('#tankName').val();
          let vol = $('#tankVol').val();
          let pres = $('#tankPres').val();
          let label = name+vol+pres;
          let uuid = Math.abs(label.hashCode()); //to check

          addTank("tanks", name, vol, pres, gasuuid, uuid).then(
            ons.notification.alert("Tank added.", { title: "Information" }).then(
              function () {
                closePage();
              }
            )
          );

        }
      }
    }

  </script>
</ons-page>