<ons-page id="ONSGasAdd">
  <div id="container">
    <form action="" method="post" id="leformAddGas" name="leformAddGas">

      <div id="gasDiv" class="radius5">
        <ons-row>
          <span class="translate labelMiddle">GasOxy</span><span class="" name="oxy" id="oxy">21%</span>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-range class="valignMiddle" name="oxySlider" value="21" max="100" min="0" id="oxySlider" onChange="changeMix();"></ons-range>
          </ons-col>
          <ons-col class="lessMoreCol">
            <ons-button class="lessMoreBtn" name="oxySliderLess" id="oxySliderLess" onclick="$('#oxySlider').val(parseInt(oxySlider.value) - 1);changeMix();"><i class="zmdi zmdi-minus-circle-outline"></i>
            </ons-button>
          </ons-col>
          <ons-col class="lessMoreCol">
            <ons-button class="lessMoreBtn" name="oxySliderMore" id="oxySliderMore" onclick="$('#oxySlider').val(parseInt(oxySlider.value) + 1); changeMix();"><i class="zmdi zmdi-plus-circle-o"></i>
            </ons-button>
          </ons-col>
        </ons-row>

        <ons-row>
          <span class="translate labelMiddle">GasHelium</span><span class="" name="helium" id="helium"></span>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-range class="valignMiddle" name="heliumSlider" value="0" max="100" min="0" id="heliumSlider" type="text" onChange="changeMix();"></ons-range>
          </ons-col>
          <ons-col class="lessMoreCol">
            <ons-button class="lessMoreBtn" name="heliumSliderLess" id="heliumSliderLess" onclick="$('#heliumSlider').val(parseInt(heliumSlider.value) - 1);changeMix();"><i class="zmdi zmdi-minus-circle-outline"></i>
            </ons-button>
          </ons-col>
          <ons-col class="lessMoreCol">
            <ons-button class="lessMoreBtn" name="heliumSliderMore" id="heliumSliderMore" onclick="$('#heliumSlider').val(parseInt(heliumSlider.value) + 1);changeMix();"><i class="zmdi zmdi-plus-circle-o"></i></ons-button>
          </ons-col>
        </ons-row>

        <ons-row>
          <span class="translate labelMiddle">GasNitrogen</span><span class="" name="nitrogen" id="nitrogen"></span>
        </ons-row>
        <ons-row>
          <ons-col>
            <ons-range name="nitrogenSlider" value="0" max="100" min="0" id="nitrogenSlider" aria-readonly="yes" readonly="yes" disabled></ons-range>
          </ons-col>
        </ons-row>
      </div>

      <ons-row>
        <span class="translate labelMiddle">Gasppo2</span><span class="" name="ppoxy" id="ppoxy"></span>
      </ons-row>
      <ons-row>
        <ons-col>
          <ons-range class="valignMiddle" name="ppoxySlider" value="1.0" max="1.6" min="0.8" step="0.1" id="ppoxySlider" onChange="changeMix();"></ons-range>
        </ons-col>
        <ons-col class="lessMoreCol">
          <ons-button class="lessMoreBtn" name="ppoxySliderLess" id="ppoxySliderLess" onclick="$('#ppoxySlider').val(parseFloat(ppoxySlider.value) - 0.1);changeMix();"><i class="zmdi zmdi-minus-circle-outline"></i></ons-button>
        </ons-col>
        <ons-col class="lessMoreCol">
          <ons-button class="lessMoreBtn" name="ppoxySliderMore" id="ppoxySliderMore" onclick="$('#ppoxySlider').val(parseFloat(ppoxySlider.value) + 0.1);changeMix();"><i class="zmdi zmdi-plus-circle-o"></i></ons-button>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <label for="mod" class="translate">GasMOD</label>
        </ons-col>
        <ons-col>
          <span name="mod" id="mod" class="tinyInputRight"></span>
        </ons-col>
        <ons-col>
          <label for="end" class="translate">GasEND</label> <span id="mod2">xx m</span>
        </ons-col>
        <ons-col>
          <span name="end" id="end" class="tinyInputRight"></span>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <label for="ceil" class="translate">GasCEIL</label>
        </ons-col>
        <ons-col>
          <span name="ceil" id="ceil" class="tinyInputRight"></span>
        </ons-col>
      </ons-row>

      <ons-row>
        <span class="translate">Gasdeep</span>&nbsp;<span class="" name="deep" id="deep"></span>
      </ons-row>
      <ons-row>
        <ons-col>
          <ons-range class="valignMiddle" name="deepSlider" value="20" max="200" min="0" step="1" id="deepSlider" onChange="changeMix();"></ons-range>
        </ons-col>
        <ons-col class="lessMoreCol">
          <ons-button class="lessMoreBtn" name="deepSliderLess" id="deepSliderLess" onclick="$('#deepSlider').val(parseInt(deepSlider.value) - 1);changeMix();"><i class="zmdi zmdi-minus-circle-outline"></i></ons-button>
        </ons-col>
        <ons-col class="lessMoreCol">
          <ons-button class="lessMoreBtn" name="deepSliderMore" id="deepSliderMore" onclick="$('#deepSlider').val(parseInt(deepSlider.value) + 1);changeMix();"><i class="zmdi zmdi-plus-circle-o"></i></ons-button>
        </ons-col>
      </ons-row>

      <ons-row>
        <ons-col>
          <span name="endForDeep" id="" class="tinyInputRight"></span>
        </ons-col>
      </ons-row>

      <input type="hidden" name="gasUUID" id="gasUUID" value="">

      <ons-row>
        <ons-col>
          <ons-button class="addCancelBtn" modifier="material" onclick="closePage();"><span class="translate">back</span></ons-button>
          &nbsp;
          <ons-button class="addCancelBtn" modifier="material" onclick="checkFormGas('leformAddGas');"><span class="translate" id="btnGasSave">GasAdd</span></ons-button>
        </ons-col>
      </ons-row>
    </form>
  </div>

  <script type="text/javascript">
    ons.ready(function () {
      myDebug("Call updatePage for config-addGas.html ...");
      myDebug("call ons ready de addgas ...");
      if (globalGasEd !== null) {
        myDebug("Update gas values from globalGasEd...");
        setPageTitle("editGas");
        $('#heliumSlider').val(globalGasEd.he).trigger('change');
        $('#oxySlider').val(globalGasEd.oxy).trigger('change');
        $('#ppoxySlider').val(globalGasEd.ppo2).trigger('change');
        $('#btnGasSave').html(trans("save"));
        $('#gasUUID').val(globalGasEd.id);
      }
      else {
        setPageTitle("addGas");
        $('#btnGasSave').html(trans("GasAdd"));
        $('#gasUUID').val('');
      }
      // translateUI();
      setTimeout(function () {
        changeMix();
      }, 400);
    });

    function changeMix() {
      myDebug("Call changeMix oxy slider is " + oxySlider.value);
      let nitrogen = 100 - parseInt(heliumSlider.value) - parseInt(oxySlider.value);
      $('#helium').html(heliumSlider.value + '%');
      $('#oxy').html(oxySlider.value + '%');
      $('#ppoxy').html(ppoxySlider.value);
      $('#nitrogen').html(nitrogen + '%');
      $('#nitrogenSlider').val(nitrogen);
      if (nitrogen < 0) {
        $('#gasDiv').css("background-color", "indianred");
      } else {
        $('#gasDiv').css("background-color", "transparent");
      }

      let fO2 = 0;
      let fHe = 0;
      if (oxySlider.value > 0) {
        fO2 = oxySlider.value / 100;
      }
      if (heliumSlider.value > 0) {
        fHe = heliumSlider.value / 100;
      }
      let fN2 = (1 - fO2 - fHe);
      let maxppO2 = ppoxySlider.value;
      let depth = Math.round(deepSlider.value);

      let buhlmannDeco = globalDive.deco.buhlmann();
      let newPlan = new buhlmannDeco.plan(buhlmannDeco.ZH16ATissues); // 1 abs pressure in fresh water
      newPlan.addBottomGas("gas", fO2, fHe);
      newPlan.addFlat(depth, "gas", 25);
      let decoPlan = newPlan.calculateDecompression(false, 0.2, 0.8, 1.6, 30); //gradientFactorLow = 0.2, gradientFactorHigh=0.8, deco ppO2 = 1.6, and max END allowed: 30 meters.
      console.log(decoPlan);


      let candidateGas = globalDive.gas(fO2, fHe);
      //let mod = Math.round(candidateGas.modInMeters(maxppO2, globalDiveFreshWater));
      //erics
      let mod = Math.round(10 * (maxppO2 / fO2 - 1));
      // let ead = Math.round(candidateGas.eadInMeters(maxppO2, mod, globalDiveFreshWater));
      let ceil = "0";

      $('#mod').html(mod + "m");
      $('#mod2').html(mod + "m :");
      let end = 0;
      let endForDeep = 0;
      // if(fHe > 0) {
      //   end = Math.round(candidateGas.endInMeters(mod, globalDiveFreshWater));
      //   endForDeep = Math.round(candidateGas.endInMeters(depth, globalDiveFreshWater));
      // } else  {
      //end = Math.round(candidateGas.eadInMeters(maxppO2, mod, globalDiveFreshWater));
      //erics
      end = Math.round((mod + 10) * (fN2 / 0.79) - 10);
      //endForDeep = Math.round(candidateGas.eadInMeters(maxppO2, depth, globalDiveFreshWater));
      endForDeep = Math.round((depth + 10) * (fN2 / 0.79) - 10);
      // }
      $('#end').html(end + "m");
      $('#deep').html(deepSlider.value + "m => " + endForDeep + "m");
      $('#ceil').html(ceil + "m");
    }

    //En attendant de trouver comment faire marcher OnsenUI + validate.js
    function checkFormGas(leform) {
      if (genericCheckForm(leform)) {
        if ($("#leformAddGas").valid()) {
          // myDebug("addGas on passe dans le validate");
          let oxy = oxySlider.value;
          let he = heliumSlider.value;
          let ppo2 = ppoxySlider.value;
          let uuid = gasUUID.value;

          addGas("gas", oxy, he, ppo2, uuid).then(
            ons.notification.alert(trans("GasSaved"), { title: "Information" }).then(
              function () {
                closePage();
                feedGasConfig("#feedGas", "gas");
              }
            )
          );

        }
      }
    }
  </script>
</ons-page>