<ons-dialog id="my-dialog">
    <div style="text-align: center; padding: 10px;">

        <div style="text-align: center; margin-top: 30px;">
            <p>
                <input type="hidden" id="dialogID" value=""></ons-input>
                <input type="hidden" id="dialogSlug" value=""></ons-input>
                <ons-input id="dialogLabel" modifier="underbar" placeholder="Label" float></ons-input>
            </p>
        </div>

        <p style="margin-top: 30px;">
            <ons-button onclick="updateDialog($('#dialogID').val(), $('#dialogSlug').val(), $('#dialogLabel').val())">update</ons-button>
            <ons-button onclick="hideDialog('my-dialog')">cancel</ons-button>
        </p>
    </div>
</ons-dialog>