<ons-page id="ONSDives">
  <ons-pull-hook id="pull-hookDives" class="translate">refresh</ons-pull-hook>

  <div id="container">
    <ons-row>
      <ons-col>
        <h4 class="translate">myDives</h4>
        <div id='feedDives'></div>

        <ons-fab modifier="mini" position="bottom right" onclick="globalDiveEd = null; gotoPage('config-addDive.html');">
          <ons-icon icon="md-plus"></ons-icon>
        </ons-fab>

      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
    ons.ready(function () {
      setTimeout(
        feedDivesConfig("#feedDives", "dives")
        , 3000);
    });
  </script>
</ons-page>