<ons-page id="ONSGas">
  <ons-pull-hook id="pull-hookGas" class="translate">refresh</ons-pull-hook>

  <div id="container">
    <ons-row>
      <ons-col>
        <h4 class="translate">myGas</h4>
        <div class="feedGas" id='feedGas'></div>

        <ons-fab modifier="mini" position="bottom right" onclick="globalGasEd=null; gotoPage('config-addGas.html');">
          <ons-icon icon="md-plus"></ons-icon>
        </ons-fab>

      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
    ons.ready(function () {
      setTimeout(
        feedGasConfig("#feedGas", "gas")
        , 3000);
    });
  </script>
</ons-page>