<ons-page id="loadingPage">
    <div style="text-align: right;">
        <h1 style="font-family: Penna,sans-serif; font-size: 600%; padding: 0; margin-top: 100px;">Mvplan</h1>
    </div>
    <div style="text-align: center">
        <p>
            <ons-icon icon="md-spinner" size="45px" spin></ons-icon>
        </p>
        <p id="loadingmessage"><span class="translate">loadingInProgress</span> (1)</p>
        <p><i id="loadingStep"></i></p>
    </div>
</ons-page>
