<ons-page id="ONSlogin">
    <ons-alert-dialog id="erreurAccountDisabled" animation="fade" animation-options="{duration: 0.5, delay: 2.5, timing: 'ease-in'}">
        <div class="alert-dialog">
            <div class="alert-dialog-container">
                <div class="alert-dialog-content">
                    <h4 class="translate">authError</h4>
                    <ul>
                        <li class="translate">accountDisabled</li>
                    </ul>
                    <div class="alert-dialog-footer">
                        <ons-button class="alert-dialog-button alert-dialog-button--primal translate" onclick="$('#erreurAccountDisabled').hide({animation:'fade'});">OK</ons-button>
                    </div>
                </div>
            </div>
        </div>
    </ons-alert-dialog>
    <ons-alert-dialog id="erreurLogin" animation="fade" animation-options="{duration: 0.5, delay: 2.5, timing: 'ease-in'}">
        <div class="alert-dialog">
            <div class="alert-dialog-container">
                <div class="alert-dialog-content">
                    <h4 class="translate">authError</h4>
                    <ul>
                        <li class="translate">checkLogin</li>
                        <li class="translate">checkPassword</li>
                        <li class="translate">checkNetwork</li>
                    </ul>
                    <div class="alert-dialog-footer">
                        <ons-button class="alert-dialog-button alert-dialog-button--primal translate" onclick="$('#erreurLogin').hide({animation:'fade'});">OK</ons-button>
                    </div>
                </div>
            </div>
        </div>
    </ons-alert-dialog>
    <ons-alert-dialog id="erreurCustomServerLogin" animation="fade" animation-options="{duration: 0.5, delay: 2.5, timing: 'ease-in'}">
        <div class="alert-dialog">
            <div class="alert-dialog-container">
                <div class="alert-dialog-content">
                    <h4 class="translate">authError</h4>
                    <p class="translate">checkCustomServer</p>
                    <div class="alert-dialog-footer">
                        <ons-button class="alert-dialog-button alert-dialog-button--primal translate" onclick="$('#erreurCustomServerLogin').hide({animation:'fade'});">OK</ons-button>
                    </div>
                </div>
            </div>
        </div>
    </ons-alert-dialog>
    <ons-alert-dialog id="messagePopup" animation="fade" animation-options="{duration: 0.5, delay: 2.5, timing: 'ease-in'}">
        <div class="alert-dialog">
            <div class="alert-dialog-container">
                <div class="alert-dialog-content">
                    <h4 class="translate">warning</h4>
                    <div id="messagePopupMessage">
                    </div>
                    <div class="alert-dialog-footer">
                        <ons-button class="alert-dialog-button alert-dialog-button--primal translate" onclick="$('#messagePopup').hide({animation:'fade'});">OK</ons-button>
                    </div>
                </div>
            </div>
        </div>
    </ons-alert-dialog>
    <ons-toolbar>
        <div class="center">Mvplan</div>
    </ons-toolbar>

    <ons-carousel fullscreen swipeable auto-scroll overscrollable auto-refresh direction="horizontal" id="carousel">
        <ons-carousel-item>
            <div class="container">
                <form action="" method="post" id="leformLogin">
                    <ons-row>
                        <ons-col>

                            <div id="interobjetsDouble"></div>
                            <label style="margin-top: 20px;" for="email" class="translate">loginEmail</label>
                            <span class="deleteicon">
                                <ons-input required modifier="underbar" name="email" id="email" type="email" placeholder="" value="" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="email"></ons-input>
                                <span class="deleteicon2" onclick="email.value='';email.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
                            </span>

                            <label style="margin-top: 20px;" for="password"><span class="translate">loginPassword</span>
                                <span toggle="#password" class="fa fa-fw fa-eye field-pass-icon toggle-password"></span>
                            </label>
                            <span class="deleteicon">
                                <ons-input name="password" id="password" type="password" class="form-control" placeholder="" value="" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="current-password"></ons-input>
                                <span class="deleteicon2" onclick="password.value='';password.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
                            </span>
                            <div style="text-align: right;">
                                <a onclick="carouselPassword();" class="translate">passwordForget</a>
                            </div>

                            <div style="text-align: left;">
                                <ons-list>
                                    <ons-list-item tappable>
                                        <label class="left">
                                            <ons-checkbox input-id="rememberMe" value="1" checked></ons-checkbox>
                                        </label>
                                        <label for="rememberMe" class="translate">rememberThisAccount</label>
                                    </ons-list-item>
                                </ons-list>
                            </div>

                            <ons-list>
                                <ons-list-item expandable><i class="translate">loginServerOption</i>
                                    <div class="expandable-content">
                                        <label for="loginServer" class="translate">loginServerLabel</label>
                                        <span class="deleteicon">
                                            <ons-input required modifier="underbar" name="loginServer" id="loginServer" type="url" placeholder="auto" value="" autocorrect="off" autocapitalize="off" spellcheck="false" autocomplete="automatique"></ons-input>
                                            <span class="deleteicon2" onclick="loginServer.value='';loginServer.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
                                        </span>
                                    </div>
                                </ons-list-item>
                            </ons-list>

                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top:5px;">
                        <ons-col>

                            <ons-button modifier="material large" onclick="loginButtonPressed();" class="menubutton">
                                <ons-icon icon="md-sign-in"></ons-icon>
                                <span class="menulabel translate">AUTH</span>
                            </ons-button>

                            <ons-button modifier="material large" onclick="scanQRCode();" class="menubutton">
                                <ons-icon icon="md-code-smartphone"></ons-icon>
                                <span class="menulabel translate">didYouHaveQR</span>
                            </ons-button>

                            <div style="text-align: right;">
                                <h1 style="font-family: Penna,sans-serif; font-size: 400%; padding: 0; margin:0;">Mvplan</h1>
                                <i class="translate">yourExpenseAssistant</i>
                            </div>
                        </ons-col>
                    </ons-row>
                </form>
            </div>
        </ons-carousel-item>

        <ons-carousel-item>
            <div class="container">
                <h3 class="translate">passwordForget</h3>
                <form action="" method="post" id="leformPassword">
                    <ons-row>
                        <ons-col>
                            <label for="emailForget" class="translate">yourEmail</label>
                            <span class="deleteicon">
                                <ons-input name="emailForget" id="emailForget" type="email" placeholder="Identifiant" value="" autocorrect="off" autocapitalize="off" spellcheck="false" minlength="4" maxlength="60"></ons-input>
                                <span class="deleteicon2" onclick="emailForget.value='';emailForget.focus();"><i style="font-size: x-large;" class="zmdi zmdi-close-circle-o"></i></span>
                            </span>
                        </ons-col>
                    </ons-row>

                    <ons-row style="margin-top:50px;">
                        <ons-col>
                            <ons-button modifier="material large" type="button" onclick="passwordJson();" class="menubutton"><i class="zmdi zmdi-sign-in"></i> <span class="translate">SEND</span></ons-button>

                            <div style="text-align: right;">
                                <h1 style="font-family: Penna,sans-serif; font-size: 400%; padding: 0; margin:0;">Mvplan</h1>
                                <i class="translate">yourExpenseAssistant</i>
                            </div>
                            <div style="text-align: right;">
                                <a onclick="carouselLogin();" class="translate">authenticate</a>
                            </div>
                            <div style="text-align: right;">
                                <a onclick="CreateAccount();" class="translate">openAccount</a>
                            </div>
                        </ons-col>
                    </ons-row>
                </form>
            </div>

        </ons-carousel-item>

        <ons-carousel-item>
            <div class="container" style="height: 100%; overflow-y: auto;">
                <h3 class="translate">myAccounts</h3>
                <form action="" method="post" id="leformAccounts">
                    <div id='feedMyAccounts'></div>
                    <ons-row>
                        <ons-col>
                            <ons-card>
                                <ons-row>
                                    <ons-col>
                                        <ons-icon icon="fa-user-plus" size="50px"></ons-icon>
                                    </ons-col>
                                    <ons-col>
                                        <div class="title">
                                            <span class="translate">OtherAccount</span>
                                        </div>
                                    </ons-col>
                                </ons-row>
                                <ons-row>
                                    <ons-col style="text-align: center;">
                                        <ons-button modifier="material large" onclick="localStoreData('email','');carouselLogin(0);" class="menubutton">
                                            <span class="menulabel translate">AddNewAccount</span>
                                        </ons-button>
                                    </ons-col>
                                </ons-row>
                            </ons-card>
                        </ons-col>
                    </ons-row>
                </form>
            </div>
        </ons-carousel-item>
    </ons-carousel>

    <script>
        ons.getScriptPage().onInit = function () {
            //Pour essayer de charger un custom css apres le login...
            feedMyAccounts('feedMyAccounts');
            this.onShow = function () {
                myDebug("2° lancement de carousel ...");
                carouselLogin();
            };
        };
        // window.QRScanner.scan(displayQRContents);
        //                 QRScanner.show();

        function scanQRCode() {
            cordova.plugins.barcodeScanner.scan(
                function (result) {
                    // alert("We got a barcode\n" +
                    //     "Result: " + result.text + "\n" +
                    //     "Format: " + result.format + "\n" +
                    //     "Cancelled: " + result.cancelled);
                    let encryption = new Encryption();
                    myDebug('Scan ok ' + result.text);
                    var decrypted = encryption.decrypt(result.text, "1234");
                    myDebug('Result: ' + decrypted);

                    var res = decrypted.split(";");
                    if (res[0] != 'mvplan.fr') {
                        globalMvplanDomain = "mvplan." + res[0];
                    }
                    else {
                        globalMvplanDomain = "mvplan.fr";
                    }
                    localStoreData("email", res[1]);
                    localStoreData("api_token", res[2]);
                    localStoreData("api_server", "https://" + globalMvplanDomain);
                    localStoreData("name_server", globalMvplanDomain);

                    let remember = 0;
                    if (document.getElementById('rememberMe').checked) {
                        remember = 1;
                    }
                    localStoreData("rememberMe", remember);

                    loginWithAPIToken();
                },
                function (error) {
                    alert("Scanning failed: " + error);
                },
                {
                    preferFrontCamera: false, // iOS and Android
                    preferCancel: true, // Android
                    preferPrompt: false, // Android
                    showFlipCameraButton: true, // iOS and Android
                    showTorchButton: false, // iOS and Android
                    torchOn: false, // Android, launch with the torch switched on (if available)
                    saveHistory: false, // Android, save scan history (default false)
                    prompt: trans("pleaseFlashQRCode"), // Android
                    resultDisplayDuration: 5, // Android, display scanned text for X ms. 0 suppresses it entirely, default 1500
                    formats: "QR_CODE,PDF_417", // default: all but PDF_417 and RSS_EXPANDED
                    orientation: "landscape", // Android only (portrait|landscape), default unset so it rotates with the device
                    disableAnimations: true, // iOS
                    disableSuccessBeep: false // iOS and Android
                }
            );
        }
    </script>
</ons-page>