<ons-page id="ONSMenu">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('home.html');">
      <span>MvPlan</span>
    </div>
    <div id="home" class="left" onclick="gotoPage('home.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>

  <ons-bottom-toolbar>
    <ons-toolbar-button modifier="material large" class="menubutton" id="btnMenuHome" onclick="gotoPage('home.html', true);">
      <ons-icon icon="md-home"></ons-icon>
      <!-- <span class="menulabel translate">menuHome</span> -->
    </ons-toolbar-button>

    <ons-toolbar-button modifier="material large" class="menubutton" id="btnMenuGas" onclick="gotoPage('gas.html', true);">
      <!-- <ons-icon icon="md-gas"></ons-icon> -->
      <span class="menulabel translate">menuGas</span>
    </ons-toolbar-button>

    <ons-toolbar-button modifier="material large" class="menubutton" id="btnMenuTanks" onclick="gotoPage('tanks.html', true);">
      <!-- <ons-icon icon="md-tank"></ons-icon> -->
      <span class="menulabel translate">menuTanks</span>
    </ons-toolbar-button>

    <ons-toolbar-button modifier="material large" class="menubutton" id="btnMenuDive" onclick="gotoPage('dives.html', true);">
      <!-- <ons-icon icon="md-dive"></ons-icon> -->
      <span class="menulabel translate">menuDive</span>
    </ons-toolbar-button>

  </ons-bottom-toolbar>

  <div id="container">
    <ons-navigator swipeable animation="fade" id="myNavigator" page="home.html"></ons-navigator>
  </div>

  <script language="javascript">
    ons.ready(function () {
      addGas("gas", 21, 0, 1.3);
      addGas("gas", 21, 35, 1.3);
      addGas("gas", 18, 45, 1.3);
      addGas("gas", 15, 55, 1.3);
      addGas("gas", 12, 65, 1.3);

      if (globalMyNavigator === undefined) {
        myDebug("  globalMyNavigator undef, on le recupere");
        globalMyNavigator = document.getElementById('myNavigator');
      }
      feedMvplanAccount();

      translateUI();
    });
  </script>

</ons-page>