<ons-page id="ONSMessageDone">
  <ons-toolbar modifier="material">
    <div id="titreNav" class="left" onclick="gotoPage('menu.html');">
      Mvplan
    </div>
    <div id="home" class="left" onclick="gotoPage('menu.html');">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
    <div id="menuHautDroite" class="right">
      <ons-toolbar-button onclick="fn.open()">
        <ons-icon icon="md-menu"></ons-icon>
      </ons-toolbar-button>
    </div>
  </ons-toolbar>
  <div id="container">
    <ons-row>
      <ons-col>
        <h3 class="translate">uploadOK</h3>
      </ons-col>
    </ons-row>
    <ons-row>
      <ons-col>
        <p class="translate">uploadOKMessage</p>
      </ons-col>
    </ons-row>

    <ons-row>
      <ons-col>
        <ons-button modifier="material large" onclick="gotoPage('menu.html', true);" class="menubutton">
          <ons-icon icon="md-home"></ons-icon>
          <span class="menulabel translate">mainMenu</span>
        </ons-button>
      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
  </script>
</ons-page>
