<ons-page id="ONSTanks">
  <ons-pull-hook id="pull-hookTanks" class="translate">refresh</ons-pull-hook>

  <div id="container">
    <ons-row>
      <ons-col>
        <h4 class="translate">myTanks</h4>
        <div id='feedTanksConfig'></div>
        <!-- gotoPage('config-addTank.html'); -->
        <ons-fab modifier="mini" position="bottom right" onclick="notAvailable();">
          <ons-icon icon="md-plus"></ons-icon>
        </ons-fab>

      </ons-col>
    </ons-row>
  </div>
  <script type="text/javascript">
    function notAvailable() {
      ons.notification.toast('Pas encore dispo !', {
        timeout: 2000
      });
    }
  </script>
</ons-page>