<ons-page id="ONSSplitter">
  <ons-toolbar modifier="material">
    <div id="titreMvplan" class="left">
      <span id="titreMvplan">Mvplan</span>
    </div>
    <div id="home" class="left">
      <img src="img/logo_square.png" id="homeLogo" />
    </div>
  </ons-toolbar>
  <ons-list>
    <ons-list-item onclick="gotoPage('about.html');" tappable modifier="nodivider" id="rightMenuHome">
      <span class="translate">home</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('gas.html');" tappable modifier="nodivider" id="rightMenuGas">
      <span class="translate">menuGas</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('tanks.html');" tappable modifier="nodivider" id="rightMenuTanks">
      <span class="translate">menuTanks</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('dives.html');" tappable modifier="nodivider" id="rightmenuDive">
      <span class="translate">menuDive</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('config.html');" tappable modifier="nodivider" id="rightMenuConfig">
      <span class="translate">menuConfig</span>
    </ons-list-item>
    <ons-list-item onclick="gotoPage('about.html');" tappable modifier="nodivider" id="rightMenuAbout">
      <span class="translate">about</span>
    </ons-list-item>
  </ons-list>
</ons-page>