<fieldset data-role="controlgroup" data-type="horizontal" data-mini="true">
    <legend class="translate">expenseTags</legend>
    <!-- <ons-button class="translate" style="float: right;">
      <ons-icon icon="md-plus" onclick="showTagsListDialog();"> </ons-icon>
    </ons-button> -->

    <!-- <ons-list id='listeTags' style="float:left;">
    </ons-list> -->
    <ons-list-item expandable>
      <i id="labelChooseTag" class="translate">ChooseATag</i>
      <div class="expandable-content" id='listeTags'></div>
    </ons-list-item>
  </fieldset>
