<ons-dialog id="dialog-tag-update">
    <div style="text-align: center; padding: 10px;">

        <div style="text-align: center; margin-top: 30px;">
            <p>
                <input type="hidden" id="dialogID" value=""></ons-input>
                <input type="hidden" id="dialogSlug" value=""></ons-input>
                <ons-input id="dialogLabel" modifier="underbar" placeholder="Label" float></ons-input>
            </p>
        </div>

        <p style="margin-top: 30px;">
            <ons-button onclick="hideDialog('dialog-tag-update')" class="translate">cancel</ons-button>
            <ons-button onclick="updateDialog($('#dialogID').val(), $('#dialogSlug').val(), $('#dialogLabel').val())" class="translate">update</ons-button>
        </p>
    </div>
</ons-dialog>