body {
  line-height: normal;
}

a {
  color: #fff;
  text-decoration: none;
}

@font-face {
  font-family: "Penna";
  src: url("fonts/penna.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h1 {
  text-align: center;
  font-family: Penna, sans-serif;
  font-weight: normal;
  font-style: normal;
  font-weight: 600;
}

h3 {
  text-align: center;
}

h4 {
  text-align: left;
  padding-top: 10px;
}

select.error,
textarea.error,
input.error {
  border-color: #ff0000;
}

ons-input,
ons-radio,
ons-checkbox,
ons-search-input {
  width: 100%;
}

input,
radio,
checkbox,
search-input {
  width: 100%;
}

.search-input {
  background-position: calc(100% - 20px);
  width: calc(100% - 25px);
}

.alert-dialog-content,
.alert-dialog-content ul {
  text-align: left;
}

ons-select {
  width: 100%;
}

/* ons-row {
  margin-top: 5px;
} */

#sablier {
  display: unset;
  padding-top: 50%;
}

#sablier .modal__content {
  display: unset;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  font-size: unset;
}

#feedGas {
  clear: both;
}

.listGas {
  font-size: larger;
  line-height: 2em;
}

.btnListGas {
  width: 100%;
}

.colListGas {
  padding-right: 1em;
}

#feedMvplanInfos {
  padding-top: 40px;
  padding-left: 8px;
  font-style: italic;
  display: unset;
}

#interobjets {
  clear: both;
  padding-top: 0.8em;
}

#interobjetsDouble {
  clear: both;
  padding-top: 1.4em;
}

#interobjetsDoubleWithLine {
  clear: both;
  padding-top: 1em;
  margin-bottom: 0.4em;
  border-bottom: #000 1px solid;
}

/* 
.page,
.page__background,
.page__content {
  background-color: #fff;
}

.page[status-bar-fill]>.toolbar--material:not(.toolbar-transparent)+.page__background,
.page[status-bar-fill]>.toolbar--material:not(.toolbar--cover-content)+.page__background+.page__content {
  top: 44px;
}

.toolbar.toolbar--material+.page__background {
  top: 44px;
}

.toolbar-button--material {
  padding: 0 6px;
} */

.menubutton {
  text-align: left;
}

th,
td {
  padding: 4px 0px 0px 4px;
}

#displayDocument {
  max-height: 200px;
}

#smallImage {
  max-height: 200px;
  max-width: 40%;
  padding-bottom: 10px;
}

#verySmallImage {
  max-height: 50px;
  padding-bottom: 10px;
}

.list {
  background: unset;
  background-image: unset;
  background-size: unset;
}

// ----------------------------------- select
.custom-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 57px;
  padding: 10px 38px 10px 16px;
  background: #fff url("https://anselmurban.de/codepen-img/select-arrows.svg") no-repeat right 16px center;
  background-size: 10px;
  transition: border-color 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  border: 1px solid #ddd;
  border-radius: 3px;
  font-size: 1.6rem;
}

.custom-select:hover {
  border: 1px solid #999;
}

.custom-select:focus {
  border: 1px solid #999;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
  outline: none;
}

/* remove default arrow in IE */
select::-ms-expand {
  display: none;
}

.big {
  font-size: 400%;
  float: right;
}

.small {
  font-size: 75%;
  padding-left: 1em;
}

#home {
  font-size: 28px;
  margin-left: 10px;
  margin-top: 10px;
}

#homeLogo {
  max-width: 135px;
  margin-top: -5px;
  max-height: 35px;
}

#titreMvplan {
  font-size: 38px;
  line-height: unset;
  font-family: Penna, sans-serif;
  font-weight: 600;
}

#titreNav {
  padding-left: 10px;
  font-size: 38px;
  font-weight: 600;
  font-family: Penna, sans-serif;
}

#menuHautDroite {
  font-size: 28px;
  /* margin-top: 10px; */
  min-width: unset;
  width: auto;
}

#menuHautDroite ons-icon {
  font-size: 30px;
}

.input-container {
  position: relative;
}

.input-container input {
  width: 100%;
}

.input-container .unit {
  position: absolute;
  display: block;
  top: 10px;
  right: -3px;
  padding-left: 5px;
  width: 45px;
}

/* password */

.field-pass-icon {
  /* float: left;
  margin-left: 50px;
  margin-top: -25px;
  margin-right: 50px; */
  position: relative;
  z-index: 2;
}

#upload-progress {
  height: 25px;
  background-color: grey;
}

.progress-bar {
  height: 25px;
  background-color: dodgerblue;
}

/* .toolbar {
  padding-top: 0px;
  margin-top: 0px;
  height: 45px;
} */

/* .page[status-bar-fill]>.toolbar {
  padding-top: 0px;
} */

#container {
  margin-left: 10px;
  margin-right: 10px;
}

.text-input:invalid {
  border: 1px solid #d1d1d1;
}

.blink {
  color: #888888 !important;
  background: #fafafa !important;
}

fieldset {
  padding: 0.3em;
  margin: unset;
}

.input-txt {
  position: relative;
  margin-left: auto;
}

.input-txt.left input {
  padding-left: 18px;
}

.input-txt.right input {
  padding-right: 18px;
  text-align: end;
}

.input-percent {
  position: relative;
  margin-left: auto;
}

.input-percent.left input {
  padding-left: 18px;
}

.input-percent.right input {
  padding-right: 18px;
  text-align: end;
}

.input-percent:before {
  position: absolute;
  top: 0;
  content: "%";
}

.input-percent.left:before {
  left: 5px;
}

.input-percent.right:before {
  right: 5px;
}

.text-input--material__label--active {
  color: #1e88e5;
  font-size: larger;
}

:checked+.segment__button {
  background-color: #1e88e5;
  color: #fff;
}

.segment__button {
  color: #1e88e5;
  border: 1px solid #1e88e5;
}

.zmdib {
  color: #1e88e5;
}

span.deleteicon {
  position: relative;
}

span.deleteicon span.deleteicon2 {
  position: absolute;
  top: -4px;
  right: 4px;
  cursor: pointer;
  color: grey;
}

/* Dans le cas ou on a un bouton "nuage" à droite ... */
span.deleteicon span.deleteicon3 {
  position: absolute;
  top: 4px;
  right: 4px;
  cursor: pointer;
  color: grey;
}

/* Dans le cas où on est sur la liste des comptes / identités ... */
span.deleteiconAccount {
  float: right;
}

span.deleteiconAccount span.deleteiconAccount2 {
  cursor: pointer;
  color: grey;
}

.automatique {
  font-weight: 400;
  border-radius: 5px;
  border: 1px solid #1e88e5;
  padding-left: 4px;
  padding-right: 4px;
  margin-left: auto;
  margin-right: 2em;
  float: right;
}

.tvaauto {
  width: 100%;
}

.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  text-transform: unset;
  white-space: unset;
}


label[for=element-toggle] {
  cursor: pointer;
}

#element-toggle {
  display: none;
}

#element-toggle:not(:checked)~#toggled-element {
  display: none;
}

.tinyInputRight {
  width: 4em;
  float: right;
}

label,
legend {
  margin-bottom: 0;
  margin-top: 0.5em;
}

.labelMiddle {
  text-align: center;
  flex: auto;
}

.range {
  width: 100%;
}

.lessMoreBtn {
  min-width: 2em;
}

.valignMiddle {
  margin-top: 0.5em;
}

.lessMoreCol {
  min-width: fit-content;
  width: fit-content;
  flex: unset;
  padding: 4px;
}

.radius5 {
  border-radius: 5px;
  padding: 5px;
}

.selectedValue {
  padding: 12px 6px 12px 0;
  display: block;
}

.button--material {
  font-size: 12px;
}

.text-input {
  background-color: darkgray;
  text-align: right;
  color: black;
  font-weight: bold;
  border-radius: 4px;
  padding-right: 0.2em;
}

ons-row {
  margin-bottom: 0.4em;
}

.addCancelBtn {
  width: 48%;
}